body {
    font-family:sans-serif;
    color: red;
}

table {
    padding: 2rem;
    margin: 2rem;
    border: 10px solid rgb(89, 43, 107);
    background-color:rgb(43, 102, 107);
    margin-left: auto;
    margin-right: auto;
}

tbody,tr {
    background-color: antiquewhite;
    border: 4px solid rgb(107, 47, 43,);
}

td,th {
    border: 4px solid red;
    padding: 2rem;
}

body {
    background-color: lightgray;

  }
  
  header {
    background-color: linen;
    width: 100%;
    border: 5px solid black;
  }
  
  header nav {
    padding: 1rem;
    align-items: center; 
    background-color: linen;
    border: 5px solid black;
    justify-content: flex-end;
  }

  main,
  header nav {
    margin: 0 auto;
    width: 960px;
    justify-content: space-between;
  }

  main article {
    float: right;
    width: 480px;
    padding: 1rem 0 0 1rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100px;
  }

  li {
    align-content: center;
    align-items: center;
    display: flex;
  }

  a {
      text-decoration:none;
      color: darkred;
      font-size: 30px;
  }

  a:hover {
      color: darksalmon;
  }

  img {
      border-radius: 2px;
      -webkit-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777;
  }

  body header {
      display: flex;
  }

  header img {
      width: 400px;
  }

  main > section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  h1, h2, h3 {
    text-align: center;
    font-size: 45px;
    color: black;
    padding: 3rem;
    font-weight: bold;
  }

  #family {
      display: flex;
      justify-content: center;
  }

  #hourstable {
      display: flex;
      justify-content: center;
      width: 960px;
  }

  form {
    display: flex;
    justify-content: center;
  }

  fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    color: black;
    padding: 20px;
    margin: 40px;
    width: 400px;
    border: 3px solid black;
  }

  label {
    display: block;
    padding: 5px;
    margin: 2px;
    border: 3px none black;
    font-size: 24px;
  }

  input {
    float: right;
    height: 25px;
    border: 2px solid salmon;
  }

  button {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 14px 40px;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    margin: 5px;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #4CAF50;
    color: white;
  }

  footer ul li {
      width: 8rem;
      color: white;
      font-size: 20px;
  }

  footer {
      background-color: darkgrey;
  }